<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrazione</servlet-name>
        <servlet-class>Servlet.Registrazione</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Servlet.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Operazioni</servlet-name>
        <servlet-class>Servlet.Transfer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attivita</servlet-name>
        <servlet-class>Servlet.Attivita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rubrica</servlet-name>
        <servlet-class>Servlet.Rubrica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Messaggi</servlet-name>
        <servlet-class>Servlet.Messaggi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestLogin</servlet-name>
        <servlet-class>rest.RestLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestLogout</servlet-name>
        <servlet-class>rest.RestLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestSendPayment</servlet-name>
        <servlet-class>rest.RestSendPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestGetRubrica</servlet-name>
        <servlet-class>rest.RestGetRubrica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestGetUtente</servlet-name>
        <servlet-class>rest.RestGetUtente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrazione</servlet-name>
        <url-pattern>/registrazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Operazioni</servlet-name>
        <url-pattern>/Transfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attivita</servlet-name>
        <url-pattern>/attivita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Messaggi</servlet-name>
        <url-pattern>/messaggi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rubrica</servlet-name>
        <url-pattern>/rubrica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestLogin</servlet-name>
        <url-pattern>/RestLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestLogout</servlet-name>
        <url-pattern>/RestLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestSendPayment</servlet-name>
        <url-pattern>/RestSendPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestGetRubrica</servlet-name>
        <url-pattern>/RestGetRubrica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestGetUtente</servlet-name>
        <url-pattern>/RestGetUtente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
